<div id="container">
  <div id="form-container">
    <h2>User Register</h2>
    <form #UserRegisterForm="ngForm" (ngSubmit)="onSubmit(UserRegisterForm)">

      <input
        #name="ngModel"
        type="text"
        placeholder="UserName"
        name="Name"
        required
        pattern="^[A-Za-z]{3,15}$"
        [(ngModel)]="user.Name"
        [appStyleOnError]="(name.errors?.['required'] || name.errors?.['pattern']) && (name.touched || name.dirty)"
      />
      <span *ngIf="name.errors?.['required'] && (name.touched || name.dirty)">
        Please Enter Valid Name
      </span>
      <span *ngIf="name.errors?.['pattern'] && (name.touched || name.dirty)">
        Please Enter Alphabets only (3-15 chars)
      </span>

      <input
        #phoneNumber="ngModel"
        type="text"
        placeholder="PhoneNumber"
        name="PhoneNumber"
        required
        pattern="^[0-9]{3,15}$"
        [(ngModel)]="user.PhoneNumber"
        [appStyleOnError]="(phoneNumber.errors?.['required'] || phoneNumber.errors?.['pattern']) && (phoneNumber.touched || phoneNumber.dirty)"
      />
      <span *ngIf="phoneNumber.errors?.['required'] && (phoneNumber.touched || phoneNumber.dirty)">
        Please Enter Valid Phone Number
      </span>
      <span *ngIf="phoneNumber.errors?.['pattern'] && (phoneNumber.touched || phoneNumber.dirty)">
        Please Enter Numbers only (3-15 digits)
      </span>

      <input
        #password="ngModel"
        type="password"
        placeholder="Password"
        name="Password"
        required
        pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])[A-Za-z0-9@#$%^&+=]{8,20}$"
        [(ngModel)]="user.Password"
        [appStyleOnError]="(password.errors?.['required'] || password.errors?.['pattern']) && (password.touched || password.dirty)"
      />
      <span *ngIf="password.errors?.['required'] && (password.touched || password.dirty)">
        Please Enter Password
      </span>
      <span *ngIf="password.errors?.['pattern'] && (password.touched || password.dirty)">
        Password must include uppercase, lowercase, number & special character (8-20 chars)
      </span>

      <select
        #gender="ngModel"
        name="Gender"
        required
        [(ngModel)]="user.Gender"
        [appStyleOnError]="gender.errors?.['required'] && (gender.touched || gender.dirty)"
      >
        <option value="" disabled selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="others">Others</option>
      </select>
      <span *ngIf="gender.errors?.['required'] && (gender.touched || gender.dirty)">
        Please Select Gender
      </span>

      <button [disabled] = "UserRegisterForm.invalid" type="submit">Signup</button>
      <p>Already have an account? <a routerLink="/Login">Login now</a></p>
    </form>
  </div>
</div>
