<div class="location-container">
  <h2>Driver Location</h2>
  <div #toggleBtnRef>
  <kendo-switch
  [(ngModel)] = "isOnline"
  (valueChange) = "onToggleOnline($event)"
  [onLabel]="'Online'"
  [offLabel]="'Offline'"
  style="width: 100px">
  ></kendo-switch>
  </div>

  <!-- <kendo-popup [anchor] = "toggleBtnRef" *ngIf="showPopup" class = "popup-template" (close) = "showPopup= false">
     <div style="padding: 1rem">
    <p><strong>Change Status</strong></p>
    <p>Please switch your status to <strong>Online</strong> to start sharing location.</p>
  </div>
  </kendo-popup> -->
<kendo-autocomplete
    [(ngModel)]="address"
    [data]="suggestions"
    placeholder="Enter address"
    (filterChange)="onAddressChange($event)"
    (valueChange)="onAddressChange($event)"
    [filterable]="true"
    >
  </kendo-autocomplete>
  <button (click)="submitLocation()">Submit Location</button>
</div>