<div class="main-container">
<div>
  <h2>Pickup Location</h2>
  <kendo-autocomplete
  [data]="addressSuggestions"
  [(ngModel)]="pickupLocationText"
  placeholder="Type pickup location"
  (focus)="onPickupFocus()"
  (filterChange) = "onLocationTextChange('pickup', $event)"
   [filterable]="true"
  >

</kendo-autocomplete>
  <p *ngIf="pickupCoords === null && pickupLocationText != ''" >Please select valid location</p>
<hr/>
<div>
  <h2>Drop Location</h2>

  <kendo-autocomplete
  [data]="addressSuggestions"
  [(ngModel)]="dropLocationText"
  placeholder="Type drop location"
  (focus)="onDropFocus()"
  (filterChange) = "onLocationTextChange('drop', $event)"
  [filterable]="true">
</kendo-autocomplete>


  <p *ngIf="dropCoords === null &&  dropLocationText != ''" >Please select valid location</p>
</div>
<kendo-button (click) = "onButtonClick()">select map</kendo-button>



<hr/>

 <app-map-selector *ngIf="inputMethod === 'map'"
  [mode]="mapApplyOnPickUpYaDrop" [location]="locationText" (locationSelected)="onMapLocationSelected($event)"></app-map-selector>

<button (click)="submitLocations()" style="margin-top:20px;">Submit Locations</button>



 

</div>